.attendance-container {
  padding: 20px;
  background: #fff7f0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(255, 140, 0, 0.3);
  font-family: 'Poppins', sans-serif;

  h2 {
    text-align: center;
    color: #ff6600;
    margin-bottom: 15px;
  }

  .filter-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    label {
      font-weight: 600;
      color: #ff6600;
    }

    select {
      padding: 6px 10px;
      border-radius: 8px;
      border: 1px solid #ff6600;
      background: #fff;
      color: #333;
      font-weight: 500;
    }
  }

  .table-responsive {
    overflow-x: auto;
  }

  .attendance-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

    th,
    td {
      border: 1px solid #ffe0b2;
      padding: 6px;
      text-align: center;
      font-size: 13px;
    }

    th {
      background: #ff6600;
      color: #fff;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    .present {
      background-color: #fffeb7;
    }

    .absent {
      background-color: #ffabe6;
    }

    .half {
      background-color: #befabb;
    }
  }

  .footer-actions {
    text-align: center;
    margin-top: 20px;

    button {
      background: #ff6600;
      color: white;
      border: none;
      padding: 8px 20px;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #ff6600;
      }
    }
  }

}

.att-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.att-status {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.att-time {
  margin-top: 5px;
  color: #666;
}