<div class="container">

    <div class="top-bar">
        <div class="total-box">
            Total Users: <b>{{ users.length }}</b>
        </div>

        <div class="right-bar">
            <input type="text" placeholder="Search by name or mobile" [(ngModel)]="searchTerm" (input)="searchUser()" />

            <button (click)="openModal()">Add User</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers" (click)="openProfile(user)">
                <td>{{ user.name }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <!-- MODAL -->
    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
            <h3>Add Khatabook User</h3>

            <input type="text" placeholder="Name" [(ngModel)]="name" />
            <input type="text" placeholder="Mobile" [(ngModel)]="mobile" />
            <input type="text" placeholder="City" [(ngModel)]="city" />

            <div class="modal-actions">
                <button (click)="addUser()">Save</button>
                <button class="cancel" (click)="closeModal()">Cancel</button>
            </div>
        </div>
    </div>