.header {
  padding: 15px;
  color: #f7690a;
  text-align: center;
  font-weight: bold;
}

/* SEARCH BAR */
.top-bar {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.top-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ff5b1a;
}

.top-bar button {
  background: #ff6c0a;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* OVERLAY */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* CENTER FORM */
.add-form {
  width: 320px;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.add-form h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.add-form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #ff6d18;
}

/* FORM BUTTONS */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* GRID (3 PER ROW) */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

.card {
  width:380px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(255, 191, 165);
  cursor: pointer;
}

.card h3 {
  margin: 0 0 6px;
}
