.staff-container {
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid #ff5304;
      background-color: #fffaf1;
    }

    th {
      background-color: #f5f5f5;
    }
  }

  .btn {
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease all;

    &.mark-btn {
      background-color: #ff6600;
      /* Orange */
    }

    &.mark-btn:hover {
      background-color: #ff6600;
    }

    &.edit-btn {
      background-color: #0f013f;
      /* Blue */
    }

    &.edit-btn:hover {
      background-color: #0f013f;
    }

    &.cancel-btn {
      background-color: #9e9e9e;
    }

    &.cancel-btn:hover {
      background-color: #757575;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);

    .modal-content {
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      width: 350px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      text-align: center;

      h3 {
        margin-bottom: 15px;
      }

      .edit-options {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
      }

      .modal-actions {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
      }
    }
  }

  .branch-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .branch-filter button {
    padding: 6px 14px;
    border: none;
    background: #580101;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .branch-filter button:hover {
    background: #eea300;
  }

}
