<div class="top-bar">
  <h3 style="margin-top: 14px;">Regular Customer</h3>
  <button class="add-btn" (click)="openModal()">+ Add Customer</button>
</div>


<!-- 🔴 MODAL -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-box">

    <h3>{{ isEditMode ? 'Edit Customer' : 'Add Customer' }}</h3>

    <!-- INPUT 1 -->
    <input type="text" placeholder="Customer Name" [(ngModel)]="customer.name">

    <!-- INPUT 2 -->
    <input type="text" placeholder="Mobile Number" [(ngModel)]="customer.mobile">

    <input type="text" placeholder="City" [(ngModel)]="customer.city">

    <div class="btns">
      <button class="save-btn" (click)="isEditMode ? updateCustomer() : addCustomer()">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </div>

  </div>
</div>

<hr>

<table border="1" width="100%" class="list">
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>City</th>
    <th>Action</th>
  </tr>

  <!-- 🔴 ngFor -->
  <tr *ngFor="let c of customers; let i = index">
    <td>{{ c.name }}</td>
    <td>{{ c.mobile }}</td>
    <td>{{ c.city || '-' }}</td>
    <td>
      <button class="profile-btn" (click)="openProfile(c)">Profile</button>
      <button class="edit-btn" (click)="editCustomer(c)">Edit</button>
    </td>
  </tr>
</table>