.dashboard {
  display: flex;
  justify-content:center;
  gap: 20px;
  padding: 40px;
  background: linear-gradient(135deg, #fcfeff, #ffffff, #ffffff);
  flex-wrap: wrap;
}
.logo{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.logo-img{
  height: 350px;
  width: 440px;
}
.stat-card {
  background: rgb(51, 1, 1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  width: 320px;
  padding: 20px;
  gap: 10px;
  color: #fff;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.stat-card:hover {
  transform: translateY(-5px);
  background: rgb(88, 2, 2);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #9aa0b0;
  margin-bottom: 10px;
}

.card-header i {
  color: #d4ae05;
}

.stat-card h2 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}

.stat-card p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 4px;
  color: #9aa0b0;
}
