/* You can add global styles to this file, and also import other style files */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eff3ff;
}

.auth-card {
  background:rgb(122, 28, 172);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 3px 10px #bc6fe9;
  width: 500px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 30px;
  color: rgb(254, 251, 255);
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #60138d;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: rgb(173, 73, 225);
  box-shadow: 0 0 8px rgb(173, 73, 225);
}

.btn {
  width: 50%;
  padding: 12px;
  background: rgb(83, 10, 122);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background:#be31ff;
}

.switch {
  margin-top: 25px;
  color: rgb(255, 169, 236);
}

.switch a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
